.create-employee-form-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.create-employee-form-modal {
  padding: 0.5rem 1rem 1rem 1rem;
  border-radius: var(--border-large);
  background-color: var(--background);
  box-shadow: var(--box-shadow);
}

.create-employee-form-modal-close {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 100%;
}

.create-employee-form-modal-close:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}
