@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --background: #f0f0f0;
  --foreground: #f2f2f2;
  --text-primary: #0b0b09;
  --text-secondary: #f1f6f8;
  --primary: #3c81b6;
  --secondary: #006a3d;
  --error-red: #f20a02;
  --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --border-color: #a3a3a3;
  --border-small: 4px;
  --border-large: 8px;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  background-color: var(--background);
  color: var(--text-primary);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-height: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
}

h2 {
  font-size: 2.5rem;
  font-weight: 800;
}

h3 {
  font-size: 2.25rem;
  font-weight: 700;
}

h4 {
  font-size: 2rem;
  font-weight: 600;
}

h5 {
  font-size: 1.75rem;
  font-weight: 600;
}

h6 {
  font-size: 1.5rem;
  font-weight: 600;
}

p {
  font-size: 1.25rem;
  font-weight: 400;
}

.height-full {
  height: 100%;
}

.width-full {
  width: 100%;
}

.width-half {
  width: 50%;
}

.width-third {
  width: 33%;
}

.width-quarter {
  width: 25%;
}

.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: center;
}

.page-container {
  width: 80%;
  height: fit-content;
  min-height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.page-container-center {
  width: 80%;
  height: 100%;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
}

.center {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.row {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.space-between {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.text-hover:hover {
  cursor: pointer;
  text-decoration: underline;
}
